version: '3.8'
services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: doable-postgres
    environment:
      POSTGRES_USER: doable
      POSTGRES_PASSWORD: doable_pass
      POSTGRES_DB: doabledb
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
  redis:
    image: redis:7
    container_name: doable-redis
    ports:
      - '6379:6379'
    restart: always

volumes:
  pgdata: